{% extends "base.html" %}

 {% block title %} Graphs {% endblock %}


   {% block content %}
<style>

    .logo{width:60%;height:80vh;}
    .img{height:200%;}
    #buttons{top:53px;}
</style>

<div style="width:90%;margin-left:20%;">
    <h1 style="margin-left:10%;">Visualization Graphs </h1><br>

    <img src="/static/graphs/vgg_visual1.png" style="left-margin:20%;" class="logo" alt="visual graph">
      <img src="/static/graphs/data_visual.png" style="left-margin:20%;" class="logo" alt="visual graph">

    </div>


{% endblock %}
